<%- include('partials.ejs/header.ejs'); -%>
    <head>
        <title>Adopted Dogs</title>
        <button type="button" onclick="window.location.href='/doggos'">Back</button>
    </head>
<%- include('partials.ejs/footer.ejs'); -%>