<%- include('partials.ejs/header.ejs'); -%>

  <header>
    <div class="dogs">
      <img src="/puppies.webp" alt="">
    </div>
    <div class="headings">
      <h1>Our Doggos</h1>
      <p>Find your new best friend today.</p>
      <a href="/" class="btn">Back to Home</a>
      <a href="/register">Register a Dog Today!</a>
      <a href="/adopted">Adopt a Dog Today</a>
      <a href="/listed">Look at our Dogs</a>
    </div>
  </header>
<%- include('partials.ejs/footer.ejs'); -%>