<%- include('partials.ejs/header.ejs'); -%>

<header>
    <div class="home-header">
        <img src="/doggo.webp" alt="">
    </div>
    <div class="headings">
        <h1>Welcome to Doggoland!</h1>
        <p>Find your new best friend today.</p>
        <a href="/doggos" class="btn">See Our Doggos</a>
    </div>
</header>

<%- include('partials.ejs/footer.ejs'); -%>