.container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-bottom: 40px;
  padding: 10px 20px;
  border: 2px solid #ffffff;
}

.link
{
  color: #ffffff;  
  margin: 0 20px;
  font-size: 18px;
}