.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color:whitesmoke;
  background-color: darkblue;
  border: 2px solid green;
  width: 150px;
  height: 30px;
  margin-bottom: 10px;
}

