h1 {
  display: flex;
  justify-content: center;
}

.missionContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid white;
}

.filterContainer {
  margin: 10px;
}