.button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    color: aliceblue;
    background-color: transparent;
    border: 2px solid rgb(185, 25, 25);
    border-radius: 10px;
}