.form
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 20px;
}

.element
{
    margin-bottom: 20px;
    border: 5px solid rgb(151, 138, 153);
}

.element input,
.element textarea
{
    width: 100%;
    padding: 10px;
    border: none;    
    color: white;
    outline: none;
    background-color: transparent;
}

.agreeToTerms
{
    margin-bottom: 20px;
    padding: 10px;
    border: 5px solid rgb(151, 138, 153);
}

.agreeToTerms input
{
    margin-right: 10px;
}

.error
{
    border-color: red;   
}

.button
{
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: center;
  width: 120px;
  height: 40px;
  color: #ffffff;
  border: 2px solid #62ff62;
  background-color: transparent;
}